table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;


}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: darkblue;
    color: white;
}

button {
    background-color: darkblue;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 15px;
    margin: 1px 1px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity: 1
}

input[type=text] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 3px solid rgba(0, 0, 139, 0.384);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid darkblue;
  }