@if (action=='list') {
@if (data&&data.length!=0) {
<div>
    <button (click)="add()">افزودن</button>
</div>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>عنوان</th>
            <th>نویسنده</th>
            <th>قیمت</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.writer}}</td>
            <td>{{item.price|number}}</td>
            <td>
                <button (click)="edit(item)">ویرایش</button>
                <button (click)="remove()">حذف</button>
            </td>

        </tr>
        }
    </tbody>
</table>
}
@else {

<div>لطفا کمی صبر کنید</div>
}
}
@else {
@if ( this.action != 'remove') {
<form>
    <div>
        <input [(ngModel)]="entity.title" id="title" name="title" type="text" placeholder="عنوان">
    </div>
    <div>
        <input [(ngModel)]="entity.writer" id="writer" name="writer" type="text" placeholder="نویسنده">
    </div>
    <div>
        <input [(ngModel)]="entity.price" id="price" name="price" type="text" placeholder="قیمت">
    </div>

    <div>
        <button (click)="ok()">تایید</button>
        <button (click)="cancel()">انصراف</button>
    </div>
</form>
}}
@if ( this.action == 'remove') {
    <div>
        <button (click)="ok()">تایید</button>
        <button (click)="cancel()">انصراف</button>
    </div>

}